body{
  overflow-y:auto;
  min-width:300px;
  background-color: white;
}




img{
  z-index:5;
  border: 1px solid white;
}

img:hover {
  border: 1px solid #CFEEF6; 
}

p{
  display: inline;
  text-align: center;
  font-family: monospace;
  text-shadow: 1px 1px 1px #ccc;
  color: black;
  text-decoration: none;
}

table{
  margin: 0px auto;
}

.missing {
  opacity: 0.20;
}

.found{
  opacity: 1.0;
}
