body{
  overflow-y:auto;
  min-width:300px;
  background-color: #FFFFFF;
}

img{
  z-index:5;
  border: 1px solid white;
}

img:hover {
  border: 1px solid #FFFFFF; 
}

h2{
  color: #0A6187;
  text-decoration: underline;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;

}

h3{
  color: #0A6187;  
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;

}

a{
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #F25944;
  text-decoration: underline;
}

table{
  margin: 0px auto;
}

.missing {
  opacity: 0.20;
}

.found{
  opacity: 1.0;
}

#hover_text{
  font-family: monospace;
  color: #263650;
  text-decoration: none;
  text-align: center;
}
